core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/dataset/cherry-leaves/test
inputs/dataset/cherry-leaves/train
outputs/v2/tb_logs
outputs/v2/tuner_results